*{
    margin: 0;
    padding: 0%;
    font-family: 'Poopping', sans-serif;
    box-sizing: border-box;
}
body {
    background:rgb(0, 0, 0);
}
#header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.741), #000000a9), url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 130px;
    border-radius: 19px;
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a {
      color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
   
}
nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #00ff88; /* puedes cambiar color */
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    margin-top: 0%;
    font-size: 30px;
    color: rgb(176, 246, 181);
     -webkit-text-stroke-width: 1px; /* Grosor del borde */
  -webkit-text-stroke-color: rgb(17, 39, 12); /
}
.header-text h1 {
    font-size: 85px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #91dea3;
    -webkit-text-stroke-width: 2px; /* Grosor del borde */
  -webkit-text-stroke-color: rgb(17, 39, 12); /
}
/* -------------about---------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;

}
.about-col-1 img {
    width: 90%;
    height: auto;
    border-radius: 15px;
    border: 5px solid rgb(29, 34, 29);
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff76
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgba(152, 220, 100, 0.46);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
    color: #3db23bb8;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
 /*--------------services-----------*/
 #services {
    padding: 30px 0;
 }
 .services-list {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .services-list div {
    background-color: #1a171700;
    padding: 40px;
    font-size: 13px;
    font-weight: 300px;
    border-right: 10px;
    border-radius: 5px;
    transition:backgroun 0.5s, transform 0.5s;
    border: 4px solid, #22301e;
 }
    .services-list div a {
        text-decoration: none;
        color: aliceblue;
        font-size: 16px;
        margin-top: 20px;
        display: inline-block;
        font-family: 'Playfair Display', serif;
    }
  .services-list div h2 {
    font-size: 43px;
    font-weight: 100;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
  }
  .services-list div:hover {
    background-color: #22301e;
    transform: translateY(-10);
  }
  .sub-title2 {
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: rgb(154, 193, 154);
  }
  .sub-title {
     font-family: 'Playfair Display', serif;
     color: #ababab;
  }
  /*---------------Portfolio----------*/
  #portfolio {
    padding: 50px 0;
    
  }
  .work-list {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .work {
    border-radius: 14px;
    position: relative;
    overflow: hidden;
  }
  .work img {
    width: 80%;
    border-radius: 12px;
    display: block;
    border: 6px solid, rgb(51, 45, 45);
  }
  .h31 {
    font-size: 21px;
    font-family: 'Playfair Display', serif;
    margin-left: 12%;
  }
  .h32 {
    font-size: 21px;
    margin-left: 12%;
    font-family: 'Fredoka', sans-serif;
    color: rgb(253, 205, 255);
  }
  .h33 {
    font-size: 16px;
    font-family:'Cinzel', serif;
    margin-left: 12%;
  }
  /*---------Contact--------*/
  .contact-left {
    flex-basis: 35%;
  }
  .contact-right {
    flex-basis: 60%;
  }
  .contact-left p {
    margin-top: 30px;
  }
  .p33 {
    color: antiquewhite;
    margin-bottom: 7%;
    font-size: 19;
  }
  .contact-left p i {
   color: rgb(182, 241, 149);
   margin-right: 15px;
   font-size: 35px;
  }
  .social-icons {
   margin-top: 30px;
  }
  .social-icons a {
   text-decoration: none;
   font-size: 33px;
   margin-left: 13px;
   color: #92d9b8;
   display: inline-block;
   transition: transform 0.5s;
  }
.sub-title3 { /* no tocaaaar */
    font-size: 53px;
    color: #80b07e;
    font-family: 'Playfair Display', serif;
}
.social-icons a:hover {
 color: #22301e;
 transform: translateY(-5px);
}
.btn {
    font-size: 21px;
    border-radius: 5px;
    color: #fff;
    background-color: #22301e;

}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0%;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px ;
    border-radius: 6px;
}
